* text=auto eol=lf

*.bat text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.pdf binary
*.docx binary
*.xlsx binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
*.otf binary
